/*Part 1
*** ^ ^ indicates what i am referencing w/i () ***
1. Selector: tells the browserwhat we would like to style from the html
    ex.   ^h2^ {color: red;} (The selector for all h2 elements)
    
2. Declaration: All of the contents between the curly braces
    ex.   h2 ^{color: red;}^ (The declaration for all h2 elements)

3. Property: a characteristic whose associated value defines one aspect
             of how the browser should display the element.
    ex.   h2 {^color^: red;} (The property[color] of the h2 element to be adjusted)
    
4. Value: The new parameters of the property to be adjusted
    ex.   h2 {color: ^red^;} (The new value for the color property of the h2 element)
    
5. CSS implementation: in-line, added directly to the html tag
                                (not recommended, can create unnecessary amount of repetitious code)
                        in the HTML code using a nested <style> element
                                (not recommended, will only implement the last read tag w/i an element)
                        External stylesheet(css file) using a <link> element
                                (best practice to produce cleaner code)

6. rgb and rgba are both used to set red,green,blue colorscale values
   rgba also set an aplha value(determines opacity scale 0-1)
    
7. an em is a value type for font-size

8. em sets element's font-size relative to the parent element.
   rem sets element's font-size relative to the browsers default.
    
9. To include a google font you can use either a <link> tag in the head for HTML for that specific font,
   or you )can use an @import tag in CSS. (links are found on each fonts page on google fonts) */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
    background-color: #d0cfcf;
}

p {
    font-family: Roboto;
}

a {
    text-decoration: none;
}

h2 {
    text-transform: capitalize;
}

body {
    font-size: 16px;
}

section {
    font-size: 1.5em;
}

h1 {
    text-shadow: 5px 5px 2px red;
}